body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #15202b;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #192734;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1, h4 {
  text-align: center;
  color: #1da1f2;
}

.card {
  border: none;
  border-radius: 15px;
  margin-bottom: 15px;
  background-color: #22303c;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 14px;
  font-weight: bold;
  color: #8899a6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-text {
  font-size: 16px;
  color: #e1e8ed;
}

.card-link i {
  margin-right: 5px;
}

.card-link {
  display: flex;
  align-items: center;
  color: #1da1f2;
  font-size: 14px;
}

.card-link:hover {
  text-decoration: underline;
}


.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #1da1f2;
  border-radius: 15px;
  font-size: 16px;
  background-color: #15202b;
  color: #ffffff;
}

.form-control::placeholder {
  color: #8899a6;
}

.btn-primary {
  background-color: #1da1f2;
  border-color: #1da1f2;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #1a91da;
  border-color: #1a91da;
}
